extends layout.pug
block head 
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Rezerwacja
    link(rel='icon' type='image/x-icon' href='images/favicon.ico')
    link(rel='stylesheet' href='css/style.css',  type='text/css')
    link(rel='stylesheet' href='css/book.css',  type='text/css')
block content
  main
    section#trip_informations
      img(src='images/trips/szczyt.jpg' alt='Zdjęcie szczytu')
      a(href='trip.html')
        h1 Wspania&lstrok;a wycieczka
      table#costs
        thead
          tr
            th(scope='col') Nazwa
            th(scope='col') Koszt
        tbody
          tr
            td Ubezpieczenie
            td 500 PLN
          tr
            td Bilety
            td 1000 PLN
          tr
            td Wy&zdot;ywienie
            td 1000 PLN
          tr
            td Zakwaterowanie
            td 1000 PLN
          tr
            td Razem od osoby
            td 3000 PLN
      h2 Formularz rezerwacyjny
    section#form
      form(method='post')
        input#first_name(type='text' placeholder='Imię' name='first_name' maxlength='40' required='')
        input#last_name(type='text' placeholder='Nazwisko' name='last_name' maxlength='40' required='')
        input#phone(type='tel' placeholder='Nr telefonu' name='phone' pattern='[0-9]{9}' title='Numer powinien składać się z 9 cyfr.' required='')
        input#email(type='email' placeholder='Adres e-mail' name='email' required='')
        input#n_people(type='number' placeholder='Liczba osób' name='n_people' required='' min='1' max='4')
        label(for='gdpr_permission')
          | Wyra&zdot;am zgod&eogon; na przetwarzanie moich danych osobowych zgodnie z art. 6 ust. 1 lit. a) Rozporz&aogon;dzenia
          | Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony os&oacute;b fizycznych
          | w
          | zwi&aogon;zku z przetwarzaniem danych osobowych i w sprawie swobodnego przep&lstrok;ywu takich danych oraz uchylenia
          | dyrektywy 95/46/WE (og&oacute;lne rozporz&aogon;dzenie o ochronie danych), dalej: &bdquo;RODO&rdquo; 
          br
          |                      (... tutaj powinna by&cacute; dalsza cz&eogon;&sacute;&cacute; wynikaj&aogon;ca z przepis&oacute;w prawa ...)
        input#gdpr_permission(type='checkbox' name='gdpr_permission' required='')
        button(type='submit') ZAREZERWUJ