//- layout.pug
html
    head 
        block head

    
    body
        header
            a(href='main.html')
            img(src='images/logo.png' alt='Logo biura podróży')
            a(href='/') Wycieczki lotnicze
            a(href='/') Wycieczki autokarowe
            a(href='/') Moje konto

    block content

    footer
        span Biuro podr&oacute;&zdot;y, 2022
        a(href='') O firmie
        a(href='') Kontakt
        a(href='') Polityka prywatno&sacute;ci

